<div class="login-page">
    <div class="container-fluid login pt-4">
        <h1>NOBE BANK</h1>
        <div class="card px-5 pb-5 pt-2">
            <h3 class="text-center pb-3">Login</h3>

            <%= form_tag '/login' do%>
                <div class="form-group">
                    <%= label_tag :account_number%>
                    <%= text_field_tag :account_number, '' ,class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= label_tag :password%>
                    <%= password_field_tag :password, '', class: "form-control" %>
                </div>

                <%= submit_tag "Login", class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Create Account', new_account_path, class: "btn btn-secondary btn-sm" %>
            <%end%>
        </div>
    </div>
</div>