  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <%= image_tag  'nobe-logo.png', class: 'navbar-brand-img' %>
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to(menu_url, class: 'nav-link') do %>
                <i class="ni ni-single-02 text-primary"></i>
                <span class="nav-link-text">Account Menu</span>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to(deposit_url, class: 'nav-link') do %>
                <i class="ni ni-fat-add text-primary"></i>
                <span class="nav-link-text">Deposit</span>
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to(withdraw_url, class: 'nav-link') do %>
                <i class="ni ni-fat-delete text-primary"></i>
                <span class="nav-link-text">Withdraw</span>
              <% end %>
            </li>

            <li class="nav-item">
            <%= link_to(transfer_url, class: 'nav-link') do %>
              <i class="ni ni-curved-next text-primary"></i>
              <span class="nav-link-text">Transfer</span>
            <% end %>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>